body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
button{
    padding: 3px 15px;
    background-color: #74c69d;
    border: transparent;
    color: white;
    border-radius: 5px;
}
button:active{
    border: transparent;
}

form:active{
    border: transparent;
    outline: transparent;
}
.book{
    text-align: center;
    margin-top: 1em;
}
.list-items ul li{
    width: 45%;
    margin: auto;
    background-color: #e5e5e5;
    margin-top: 10px;
    list-style: none;
    display: block;
    position: relative;
    padding-left:0.5em ;
    transition: 0.2s linear;
}
 ul li span{
    position: absolute;
    top:0;
    right: 0;
    width: 
    30px;
    background-color: #ff3c38;
    text-align: center;
    color: white;
}

